<div class="row">
  <div class="well span1 text-center">
    <%= render 'shared/vote_block',
          link_up: vote_post_comment_path(comment.post, comment, vote: true),
          link_down: vote_post_comment_path(comment.post, comment, vote: false),
          vote_box_id: "comment_#{comment.id}_votes",
          votes: comment.votes  %>
  </div>
  <div class="well span7">
    <div>
      <b><%= comment.creator.username %> </b>
      "<%= comment.body %>"
      <% if show_post_title %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
    </div>
    <em><%= time_ago_in_words(comment.updated_at) %> ago</em>
    <small class="muted">(<%= display_datetime(comment.updated_at) %>)</small>
  </div>
</div>
