<h4>User Profile</h4>
<table>
  <tr>
    <th align="right">Username: </th>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <th align="right">Time Zone: </th>
    <td><%= @user.time_zone %></td>
  </tr>
</table>

<hr />

<ul id="profile-tab" class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#post-content">Posts (<%= @user.posts.size %>)</a>
  </li>
  <li>
    <a data-toggle="tab" href="#comment-content">Comments (<%= @user.comments.size %>)</a>
  </li>
</ul>

<div id="profile-tab-content" class="tab-content">
  <div id="post-content" class="tab-pane in active">
    <% @user.posts.each do |post| %>
      <%= render 'posts/post_block', post: post %>
    <% end %>
  </div>

  <div id="comment-content" class="tab-pane">
    <%= render @user.comments, show_post_title: true%>
  </div>

</div>