<div class="row">
  <div class="well span1 text-center">
    <%= render 'shared/vote_block',
          link_up: vote_post_path(post, vote: true),
          link_down: vote_post_path(post, vote: false),
          obj: post %>

  </div>

  <div class="well span6">
    <div><%= render post.categories %></div>
    <% if logged_in? && post.creator == current_user %>
      <%= link_to "edit", edit_post_path(post), class: "btn btn-mini pull-right" %>
    <% end %>
    <%= render post %>

    <div class="pull-right">
      <%= link_to pluralize(post.comments.size, 'comment'), post_path(post) %>
    </div>
  </div>
</div>