<div class="row">
  <div class="well span1 text-center">
    <%= render 'shared/vote_block',
          link_up: vote_post_path(post, vote: true),
          link_down: vote_post_path(post, vote: false),
          votes: post.votes  %>
  </div>

  <div class="well span6">
    <%= link_to "edit", edit_post_path(post), class: "btn btn-mini pull-right" if logged_in? %>
    <%= render post %>
    <div><%= render post.categories %></div>
    <div>
      <%= link_to "#{post.comments.size} comments", post_path(post) %>
    </div>
  </div>
</div>