<h4>
  <b><%= link_to post.title, post_path(post) %></b>
</h4>
<%= link_to fix_url(post.url), fix_url(post.url) %><br>
<%= post.description %><br>
<div>
  -- by <%= link_to post.creator.username, profile_path(post.creator) %>
  <em><%= time_ago_in_words(post.updated_at) %> ago</em>
</div>
