<div class="row">
  <div class="well span1 text-center">
    <%= link_to vote_post_path(post, vote: true), method: 'post', vote: true do %>
      <i class="icon-chevron-up"></i>
    <% end %>
    <br />
    <%= post.votes.size %>
    <br />
    <%= link_to vote_post_path(post), method: 'post', data: {vote: false} do %>
    <i class="icon-chevron-down"></i>
    <% end %>
  </div>

  <div class="well span6">
    <%= link_to "edit", edit_post_path(post), class: "btn btn-mini pull-right" if logged_in? %>
    <%= render post %>
    <div><%= render post.categories %></div>
    <div>
      <%= link_to "#{post.comments.size} comments", post_path(post) %>
    </div>
  </div>
</div>