<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<% @posts.each do |p| %>
  <p>
    <b><%= p.title %></b><br>
    <%= link_to p.url, p.url %><br>
    <%= p.description %><br>
    <span class="quiet">Created by: <%= p.creator.username%></span>
    <div>
      <%= link_to "#{p.comments.size} comments", post_path(p) %>
    </div>
  </p>

<% end %>
