<h3><%= @post.title %></h3>

<%= link_to @post.url, @post.url %>

<p>
  <%= @post.description %><br><br>
  <span class="quiet"><%= @post.creator.username unless @post.creator.nil? %></span>
</p>
<p></p>
<hr>
<%= render "comments/form" %>

<p>

  <% @post.comments.each do |c| %>
    <div>
      <b><%= c.creator.username unless c.creator.nil? %> </b>
      <%= c.body %>
    </div>
  <% end %>
</p>

<%= link_to "Back", posts_path %>