<div>
  <div class="pull-right">
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-small" %>
  </div>
  <%= render @post %>
  <%= render @post.categories %>
</div>
<hr />

<%= render "comments/form" %>

<div class="container-fluid">
  <%= render @post.comments%>
</div>

<%= link_to "Back", posts_path %>