<% if @category.errors.any? %>
  <div class="alert alert-error">
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <br>
  <%= f.submit "Save", class: "btn" %>
<% end %>